<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>회원가입</title></head>
<body>
<h2>회원가입</h2>
<form th:action="@{/join}" method="post">
    <div>아이디: <input type="text" name="username" required></div>
    <div>비밀번호: <input type="password" name="password" required></div>
    <div>이름: <input type="text" name="name" required></div>
    <div>주소: <input type="text" name="address"></div>
    <button type="submit">가입하기</button>
</form>
<a th:href="@{/login}">로그인하러 가기</a>
</body>
</html>